<h1>About Page</h1
  <p>Here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph</p>

<%= link_to 'Home', root_path %>