<h1>Home Page</h1
  <p>Here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph, here is a paragraph</p>
<%= link_to image_tag('testimage.png'), 'http://www.s24su.com' %>
<br /><br />
<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>

